/*******************************/
/*        BIG ACCOUNTS         */
/*******************************/
.big-counts {
  margin-top: 50px;
  font-family: 'Indie Flower';
  text-align: center;
  margin-bottom: 15px; }
  .big-counts .big-count {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .big-counts .big-count .logo-big-count {
      width: 100%;
      margin: 0 auto;
      /*background-color: red;*/ }
      .big-counts .big-count .logo-big-count img {
        width: 100%; }
  .big-counts .logo-name {
    width: 100%;
    margin: 0 auto;
    /*background-color: green;*/
    text-align: center; }

.newBigAccount {
  background-color: black;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px; }
  .newBigAccount button {
    border: none;
    font-size: 16px;
    background-color: #00b241;
    width: 100%;
    height: 50px; }

.form-add-bigAccount {
  background-color: #ffffff;
  width: 90%;
  margin: 35px auto; }
  .form-add-bigAccount h2 {
    display: block;
    text-align: center;
    padding-top: 15px; }
  .form-add-bigAccount .alert-danger {
    background-color: #f2dede;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5%; }
  .form-add-bigAccount form {
    margin: 15px 0; }
    .form-add-bigAccount form label {
      margin-left: 5%; }
    .form-add-bigAccount form input {
      margin: 15px;
      height: 30px;
      width: 200px;
      background-color: #dddddd;
      border: none;
      padding: 10px; }
    .form-add-bigAccount form button.submit {
      margin: 15px;
      height: 40px;
      width: 100px;
      border: none;
      background-color: #337ab7;
      color: #ffffff;
      font-size: 16px; }
    .form-add-bigAccount form button.cancel {
      margin: 15px;
      height: 40px;
      width: 100px;
      border: none;
      background-color: #dddddd;
      font-size: 16px; }

/* Modal */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #f9ecdf;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  text-align: left; }

/* The Close Button */
.close {
  color: #aaa;
  /*float: right;*/
  /*font-size: 28px;*/
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* end Modal*/
/*******************************/
/*           BRANDS            */
/*******************************/
.brandsContainer .title-container {
  text-align: center; }

.brandsContainer .brands {
  margin-top: 50px;
  font-family: 'Indie Flower';
  text-align: center;
  margin-bottom: 15px; }
  .brandsContainer .brands .brand {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .brandsContainer .brands .brand .logo-brand {
      width: 100%;
      margin: 0 auto; }
      .brandsContainer .brands .brand .logo-brand img {
        width: 100%; }

.brandsContainer .new-brand-container {
  background-color: black;
  width: 90%;
  margin: 15px auto;
  margin-bottom: 15px; }
  .brandsContainer .new-brand-container button {
    border: none;
    font-size: 16px;
    background-color: #00b241;
    width: 100%;
    height: 50px; }

.brandsContainer .form-add-brand {
  background-color: #ffffff;
  width: 90%;
  margin: 35px auto; }
  .brandsContainer .form-add-brand h2 {
    display: block;
    text-align: center;
    padding-top: 15px; }
  .brandsContainer .form-add-brand .alert-danger {
    background-color: #f2dede;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    margin-left: 5%;
    margin-top: 5%; }
  .brandsContainer .form-add-brand form {
    margin: 15px 0; }
    .brandsContainer .form-add-brand form label {
      margin-left: 5%; }
    .brandsContainer .form-add-brand form input {
      margin: 15px;
      height: 30px;
      width: 200px;
      background-color: #dddddd;
      border: none;
      padding: 10px; }
    .brandsContainer .form-add-brand form button.submit {
      margin: 15px;
      height: 40px;
      width: 100px;
      border: none;
      background-color: #337ab7;
      color: #ffffff;
      font-size: 16px; }
    .brandsContainer .form-add-brand form button.cancel {
      margin: 15px;
      height: 40px;
      width: 100px;
      border: none;
      background-color: #dddddd;
      font-size: 16px; }

/*******************************/
/*           TEAM              */
/*******************************/
.team {
  padding: 10px;
  margin-top: 50px; }
  .team .title-container {
    text-align: center; }
  .team .table-container {
    width: 100%;
    background-color: #ffffff; }
    .team .table-container form .table {
      width: 95%;
      max-width: 100%;
      margin: 20px auto; }
      .team .table-container form .table thead tr th {
        border-bottom: 2px solid #ddd;
        padding: 8px;
        line-height: 1.5;
        text-align: left; }
      .team .table-container form .table tbody tr td {
        padding: 8px;
        height: 50px;
        margin-right: 30px; }
        .team .table-container form .table tbody tr td .avatar {
          width: 50px; }
        .team .table-container form .table tbody tr td input {
          padding: 8px;
          height: 40px;
          width: 99%;
          height: 100%;
          border: none; }
      .team .table-container form .table tbody .btn {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #ffffff; }
        .team .table-container form .table tbody .btn img {
          width: 20px; }
      .team .table-container form .table tbody .btn:disabled {
        background-color: #dddddd; }
    .team .table-container form .btn-form {
      margin-left: 15px; }
      .team .table-container form .btn-form .btn-add-member {
        border: none;
        background-color: #00b241;
        font-size: 16px;
        padding: 15px;
        margin-bottom: 15px; }

input[type="text"]:disabled {
  background-color: #dddddd; }

.notShow {
  width: 0;
  border: none; }

.notShow img {
  width: 0; }

/* Add Team */
.form-add-member {
  background-color: #ffffff;
  width: 50%;
  margin: 35px auto; }
  .form-add-member .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .form-add-member .clearfix {
    display: inline-block;
    display: block; }
  .form-add-member * html .clearfix {
    height: 1%; }
  .form-add-member .right {
    float: right; }
  .form-add-member .left {
    float: left; }
  .form-add-member h2 {
    display: block;
    text-align: center;
    padding-top: 15px; }
  .form-add-member form {
    margin: 15px 0; }
    .form-add-member form label {
      margin-left: 5%; }
    .form-add-member form input {
      margin: 15px;
      height: 30px;
      width: 200px;
      background-color: #dddddd;
      border: none;
      padding: 10px; }
    .form-add-member form button.submit {
      margin: 15px;
      height: 40px;
      width: 100px;
      border: none;
      background-color: #337ab7;
      color: #ffffff;
      font-size: 16px; }
    .form-add-member form button.cancel {
      margin: 15px;
      height: 40px;
      width: 100px;
      border: none;
      background-color: #dddddd;
      font-size: 16px; }

/*******************************/
/*        MEDIA QUERIES        */
/*******************************/
@media screen and (min-width: 480px) {
  /* big-counts */
  .big-counts {
    text-align: center; }
  .big-counts .big-count {
    width: 45%;
    margin: 10px;
    display: inline-block; }
  /* brands */
  .brandsContainer .brands .brand {
    width: 45%;
    margin: 10px;
    display: inline-block; }
  .form-add-bigAccount {
    width: 350px; }
    .form-add-bigAccount .alert-danger {
      width: 80%; }
    .form-add-bigAccount form input {
      margin: 15px;
      width: 80%; }
  .brandsContainer .form-add-brand {
    width: 350px; }
    .brandsContainer .form-add-brand .alert-danger {
      width: 80%; }
    .brandsContainer .form-add-brand form input {
      margin: 15px;
      width: 80%; } }

@media screen and (min-width: 768px) {
  .big-counts {
    text-align: center; }
  .big-counts .big-count {
    width: 21%;
    margin: 10px;
    display: inline-block; }
  /* brands */
  .brandsContainer .brands .brand {
    width: 21%;
    margin: 10px;
    display: inline-block; }
  .newBigAccount {
    background-color: black;
    width: 30%;
    margin-left: 5%; }
    .newBigAccount button {
      border: none;
      font-size: 16px;
      background-color: #00b241;
      width: 100%;
      height: 50px; }
  .brandsContainer .new-brand-container {
    background-color: black;
    width: 30%;
    margin-left: 5%; }
    .brandsContainer .new-brand-container button {
      border: none;
      font-size: 16px;
      background-color: #00b241;
      width: 100%;
      height: 50px; } }
