.login {
  background-color: #ffffff;
  width: 50%;
  margin: 200px auto;
  padding: 20px;
  text-align: center; }
  .login .alert-danger {
    background-color: #f2dede;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    margin: 10px auto 0;
    padding: 10px; }
  .login input {
    margin-top: 15px;
    height: 30px;
    width: 150px;
    background-color: #dddddd;
    border: none;
    padding: 10px; }
  .login input.submit {
    background-color: #00b241;
    width: 170px;
    height: 40px;
    font-size: 16px; }

/*******************************/
/*        MEDIA QUERIES        */
/*******************************/
@media screen and (min-width: 480px) {
  .login .alert-danger {
    width: 200px; }
  .login input {
    width: 200px; }
  .login input.submit {
    width: 220px;
    height: 40px; } }

@media screen and (min-width: 768px) {
  .login {
    padding: 50px 0px; }
    .login .alert-danger {
      width: 300px; }
    .login input {
      width: 300px; }
    .login input.submit {
      width: 320px;
      height: 40px; } }

@media screen and (min-width: 1024px) {
  .login {
    width: 40%; }
    .login .alert-danger {
      width: 350px; }
    .login input {
      width: 350px; }
    .login input.submit {
      width: 370px;
      height: 40px; } }
