/*******************************/
/*        BIG ACCOUNTS         */
/*******************************/
.big-counts{
	margin-top: 50px;
	font-family: 'Indie Flower';
	text-align: center;
	margin-bottom: 15px;

	.big-count{
		width: 90%;
		margin: 0 auto;
		margin-bottom: 10px;

		.logo-big-count{
			width: 100%;
			margin: 0 auto;
			/*background-color: red;*/
			img{
				width: 100%;
			}
		}
	}

	.logo-name{
		width: 100%;
		margin: 0 auto;
		/*background-color: green;*/
		text-align: center;
	}
}
.newBigAccount{
	background-color: black;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
	button{
		border: none;
		font-size: 16px;
		background-color: #00b241;
		width: 100%;
		height: 50px;
	}
}

.form-add-bigAccount{
	background-color: #ffffff;
	width: 90%;
	margin: 35px auto;
	
	h2{
		display: block;
		text-align: center;
		padding-top: 15px; 
	}
	
	.alert-danger{
		background-color: #f2dede;
		height: 30px;
		text-align: center;
		border-radius: 5px;
		width: 200px;
		padding: 10px;
		margin-left: 5%;
		margin-top: 5%;
	}
	form{
		margin: 15px 0;
		label{
			margin-left: 5%;
		}
		input{
	 		margin: 15px; 
	 		height: 30px;
	 		width: 200px;
	 		background-color: #dddddd;
	 		border: none;
	 		padding: 10px;
 		}
 		button.submit{
 			margin: 15px;
 			height: 40px;
 			width: 100px;
 			border: none;
 			background-color: #337ab7;
 			color:#ffffff;
 			font-size: 16px;
 		}

 		button.cancel{
 			margin: 15px;
 			height: 40px;
 			width: 100px;
 			border: none;
 			background-color: #dddddd;
 			// color:#ffffff;
 			font-size: 16px;
 		}
 	}
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #f9ecdf;
    
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: left;
}
/* The Close Button */
.close {
    color: #aaa;
    /*float: right;*/
    /*font-size: 28px;*/
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* end Modal*/

/*******************************/
/*           BRANDS            */
/*******************************/
.brandsContainer{
	.title-container{
		text-align: center;
		margin: 15px 0;
		padding: 15px 0;
	}

	input{
		display: inline-block;
	}
	h1{
		display: inline-block;
		margin:0 0 0 10px;
	}

	.brands{
		margin-top: 50px;
		font-family: 'Indie Flower';
		text-align: center;
		margin-bottom: 15px;

		.brand{
			width: 90%;
			margin: 0 auto;
			margin-bottom: 10px;

			.logo-brand{
				width: 100%;
				margin: 0 auto;
				img{
					width: 100%;
				}
			}
		}
	}

	.notBrands{
		// background-color: red;
		text-align: center;
		padding: 15px 0; 
	}

	.new-brand-container{
		background-color: black;
		width: 90%;
		margin: 15px auto;
		margin-bottom: 15px;
		button{
			border: none;
			font-size: 16px;
			background-color: #00b241;
			width: 100%;
			height: 50px;
		}
	}

	.form-add-brand{
		background-color: #ffffff;
		width: 90%;
		margin: 35px auto;
		
		h2{
			display: block;
			text-align: center;
			padding-top: 15px; 
		}
		
		.alert-danger{
			background-color: #f2dede;
			height: 30px;
			text-align: center;
			border-radius: 5px;
			width: 200px;
			padding: 10px;
			margin-left: 5%;
			margin-top: 5%;
		}
		form{
			margin: 15px 0;
			label{
				margin-left: 5%;
			}
			input{
		 		margin: 15px; 
		 		height: 30px;
		 		width: 200px;
		 		background-color: #dddddd;
		 		border: none;
		 		padding: 10px;
	 		}
	 		button.submit{
	 			margin: 15px;
	 			height: 40px;
	 			width: 100px;
	 			border: none;
	 			background-color: #337ab7;
	 			color:#ffffff;
	 			font-size: 16px;
	 		}

	 		button.cancel{
	 			margin: 15px;
	 			height: 40px;
	 			width: 100px;
	 			border: none;
	 			background-color: #dddddd;
	 			// color:#ffffff;
	 			font-size: 16px;
	 		}
	 	}
	}
}


/*******************************/
/*           TEAM              */
/*******************************/
.team{
	padding: 10px;
	// margin-top: 30px;

	.title-container{
		text-align: center;

		input{
			display: inline-block;
		}
		h2{
			display: inline-block;
			margin:0 0 15px 15px;
		}
		label{
			display: none;
			background-color: #dff0d8;
			height: 30px;
			text-align: center;
			border-radius: 5px;
			width: 350px;
			margin: 10px auto 0;
			padding: 10px;
		}
	}
	
	.table-container{
    	width: 100%;
    	background-color: #ffffff;
		form{
			.table {
				width: 95%;
				max-width: 100%;
				margin: 20px auto;
				thead {
					tr th {
					    border-bottom: 2px solid #ddd;
					    padding: 8px;
					    line-height: 1.5;
					    text-align: left;
					}
				}

				tbody {
					tr {
						td {
						    padding: 8px;
						    height: 50px;
							margin-right:30px;
							.avatar{
								width: 50px;
							}
							input{
							    padding: 8px;
							    height: 40px;
								width: 99%;
								height: 100%;
								border: none;
							}
						}
					}

					.btn{
						width: 100%;
						height: 100%;
						border: none;
						background-color: #ffffff;

						img{
							width: 20px;
						}
					}
					.btn:disabled{
						background-color:#dddddd;
					}
				}
			}
			.notUsers{
				// background-color: red;
				padding: 15px 0;
				text-align: center;
			}
			.btn-form{
				// background-color: red;
				margin-left:15px; 
				.btn-add-member{
					border: none;
					background-color: #00b241;
					font-size: 16px;
					padding: 15px;
					margin-bottom: 15px;
					color: #ffffff;
				}
			}
			.disable{
				padding: 10px;
				color: #ffffff;
				font-size: 16px;
				text-align: center;
				opacity: 0.5;
				background: #CCC;
				text-decoration: none;
				cursor: default;
			}
			.btn-see-profile{
				background-color: #337ab7;
				border-color: #204d74;
				border: none;
				padding: 10px;
				color: #ffffff;
				font-size: 16px;
				text-decoration: none;
			}

			.delete-member{
				background-color: #D95350;
				border-color: #d43f3a;
				padding: 10px;
				color: #ffffff;
				font-size: 16px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
	.deleteMemberModal{
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

		.messageDelete{
		    background-color: #ffffff;
		    margin: 15% auto; /* 15% from the top and centered */
		    padding: 20px;
		    border: 1px solid #888;
		    width: 50%; /* Could be more or less, depending on screen size */
		    height: 200px;
		    text-align: center;
		    border-radius: 6px;
		    line-height: 80px;
		    span{
		    	display: block;
		    }

		    button{
	 			margin: 15px;
	 			height: 40px;
	 			width: 100px;
	 			border: none;
	 			background-color: #337ab7;
	 			color:#ffffff;
	 			font-size: 16px;
		    }
		    input{
		    	background-color: #dddddd;
	 			margin: 15px;
	 			height: 40px;
	 			width: 100px;
	 			border: none;
	 			background-color: #dddddd;
	 			// color:#ffffff;
	 			font-size: 16px;
		    }
		}
	}
}

input[type="text"]:disabled
{

	background-color:#dddddd;

}

.notShow{
	width: 0;
    border: none;
}
.notShow img{
	width: 0;
}





/* Add Team */

.form-add-member{
	background-color: #ffffff;
	width: 50%;
	margin: 35px auto;
	
	.clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
	}

	.clearfix {
	  display: inline-block;
	  display: block;
	}

	* html .clearfix {
	  height: 1%;
	}


	.right{
		float: right;
	}
	.left{
		float: left;
	}


	h2{
		display: block;
		text-align: center;
		padding-top: 15px; 
	}

	form{
		margin: 15px 0;
		label{
			margin-left: 5%;
		}
		input{
	 		margin: 15px; 
	 		height: 30px;
	 		width: 200px;
	 		background-color: #dddddd;
	 		border: none;
	 		padding: 10px;
 		}
 		button.submit{
 			margin: 15px;
 			height: 40px;
 			width: 100px;
 			border: none;
 			background-color: #337ab7;
 			color:#ffffff;
 			font-size: 16px;
 		}

 		button.cancel{
 			margin: 15px;
 			height: 40px;
 			width: 100px;
 			border: none;
 			background-color: #dddddd;
 			// color:#ffffff;
 			font-size: 16px;
 		}
 	}


}
	
	
	// .alert-danger{
	// 	background-color: #f2dede;
	// 	height: 30px;
	// 	text-align: center;
	// 	border-radius: 5px;
	// 	width: 200px;
	// 	padding: 10px;
	// 	margin-left: 5%;
	// 	margin-top: 5%;
	// }










/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media screen and (min-width: 480px) {
	
	/* big-counts */
	.big-counts{
		text-align: center;
	}
	.big-counts .big-count{
		width: 45%;
		margin:10px;
		display: inline-block;
	}
	/* brands */
	.brandsContainer{

		.brands{
			.brand{
				width: 45%;
				margin:10px;
				display: inline-block;
			}
		}		
	}

	.form-add-bigAccount{
		.alert-danger{
			width: 80%;
		}
		width: 350px;
		form{
			input{
		 		margin: 15px;
		 		width: 80%;
	 		}
	 	}
	}
	.brandsContainer{
		.form-add-brand{
			.alert-danger{
				width: 80%;
			}
			width: 350px;
			form{
				input{
			 		margin: 15px;
			 		width: 80%;
		 		}
		 	}
		}
	}
}

@media screen and (min-width: 768px) {

	.big-counts{
		text-align: center;
	}
	.big-counts .big-count{
		width: 21%;
		margin:10px;
		display: inline-block;
	}

	/* brands */
	.brandsContainer{

		.brands{
			.brand{
				width: 21%;
				margin:10px;
				display: inline-block;
			}
		}		
	}
	.newBigAccount{
		background-color: black;
		width: 30%;
		margin-left: 5%;
		button{
			border: none;
			font-size: 16px;
			background-color: #00b241;
			width: 100%;
			height: 50px;
			color: #ffffff;
		}
	}
	
	.brandsContainer{
		.new-brand-container{
			background-color: black;
			width: 30%;
			margin-left: 5%;
			button{
				border: none;
				font-size: 16px;
				background-color: #00b241;
				width: 100%;
				height: 50px;
				color: #ffffff;
			}
		}
	}
}

@media screen and (min-width: 1024px) {

}