@charset "UTF-8";
@import url("clearfix.css");
.assign-new-brand-container{
	background-color: #ffffff;
	margin: 15px 0;
	padding: 15px 0;
	width: 80%;
	margin: 0 auto;

	.warning{
		background-color: #f2dede;
	}

	.success{
		background-color: #dff0d8;
	}

	.message{
		// display:none;
		height: 40px;
		text-align: center;
		border-radius: 5px;
		width: 80%;
		margin: 15px auto;
		padding: 10px;
		// line-height: 40px;
		display: block;
	}

	.deleteMemberModal{
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

		.messageDelete{
			background-color: #ffffff;
			margin: 15% auto; /* 15% from the top and centered */
			padding: 20px;
			border: 1px solid #888;
			width: 50%; /* Could be more or less, depending on screen size */
			height: 200px;
			text-align: center;
			border-radius: 6px;
			line-height: 40px;
			span{
				display: block;
			}

			button{
				margin: 15px;
				height: 40px;
				width: 100px;
				border: none;
				background-color: #337ab7;
				color:#ffffff;
				font-size: 16px;
			}
			input{
				background-color: #dddddd;
				margin: 15px;
				height: 40px;
				width: 100px;
				border: none;
				background-color: #dddddd;
				// color:#ffffff;
				font-size: 16px;
			}
		}
	}

	.brands-assigned{
		// background-color: red;
		h2{
			// background-color: orange;
			width: 200px;
			margin: 15px auto;
		}
		.brands-container{
			// background-color: red;
			padding: 15px;
			// text-align: center;

			div{
				// text-align: left;
				padding: 15px;
				// background-color: orange;
				margin: 0 auto;
				width: 50%;
				input{
					// width: 20px
				}
			}

			.btns-container{
				.deleteBrands{
					background-color: #D95350;
					border-color: #d43f3a;
					padding: 10px;
					color: #ffffff;
					font-size: 16px;
					text-align: center;
					cursor: pointer;
				}
			}
		}
	}

	.assign-new-brand{
		h2{
			// background-color: orange;
			width: 200px;
			margin: 15px auto;
		}

		div{
			// background-color: red;
			.message{
				width: 80%;
				display: block;
				margin: 0 auto;
				// background-color: blue;
				text-align: center;

				height: 30px;
				text-align: center;
				border-radius: 5px;
				// margin: 10px auto 0;
				padding: 10px;
				display: none;
			}
			.success{
				background-color: #dff0d8;
			}
			.warning{
				background-color: #f2dede;
			}
		}
		.select-container{
			nav{

				label{
					// background-color: orange;
					width: 80%;
					display: block;
					margin: 0 auto;
					padding:15px; 
				}
				div{
					.border-light-color{
						width: 80%;
						height: 46px;
						margin: 0 auto;
						border: 6px solid #d9d9d9;
						border-radius: 15px;
						-moz-border-radius: 15px;
						-webkit-border-radius: 15px;
						-webkit-box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.15);
						-moz-box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.15);
						box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.15);
						/*margin-left: -5%;*/

						select{
							width: 100%;
							height: 100%;
							border: 5px solid #f2f2f2;
							border-radius: 8px;
							padding-left: 15px;
							background: url(../images/sistem/arrow-down.png) no-repeat right white;

							-moz-border-radius: 8px;
							-webkit-border-radius: 8px;

							/*remove arrows in select*/
							-webkit-appearance: none;
							-moz-appearance: none;
						}
					}
				}
				.div-teams{
					div{
						width: 0px;
						height: 0px;
						// background-color: blue;
						opacity: 0;
						// border: none;

						.select-teams{
							width: 0px;
							height: 0px;
							border: none;
						}
					}
					div.showTeamsDropdown{
						width: 80%;
						height: 46px;
						transition: width 2s;
					}
				}
			}

			.btns-container{
				// background-color: green;
				text-align: center;
				display: none;
				// margin: 15px 0;
				button{
					border: none;
					font-size: 16px;
					background-color: #00b241;
					width: 50%;
					height: 50px;
					color:#ffffff;
				}
			}
		}
		.width-zero{
			width: 0px;

			label{
				display: none;
				opacity: 0;
			}
		}
	}
}