@charset "UTF-8";

#loader {
	width: 100%;
	height: 320px;
}

.banner {
	margin-bottom: 50px;
	width: 100%;
	height: 320px;
	border: none;
	overflow: hidden;
	display: block !important;
}

#loader-container {
	display: none;
}

#main-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.welcome-logo_view {
	width: 100%;
	height: 30%;
	margin-top: 100px;
	margin-bottom: 30px;
	position: relative;
}

.welcome-text_view {
	width: 100%;
	text-align: center;
	color: #333333;
	font-family: charter;
}

.welcome-text-1_properties {
	font-size: 70px;
	font-family: Perpetua;
	font-weight: normal;
}

.welcome-text-2_properties {
	font-size: 70px;
	font-family: Perpetua;
	font-weight: normal;
}

.welcome-text-3_properties {
	font-size: 60px;
	font-family: Perpetua;
	font-weight: normal;
}

.center {
	margin: 0 auto;
	right: 0;
	left: 0;
}

.hide {
	display: none;
}

.prodigious-logo_1,
.prodigious-logo_2 {
	position: absolute;
}

.prodigious-logo_1 {
	height: 100%;
}

.prodigious-logo_2 {
	width: 300px;
}
