@charset "UTF-8";
@import url("clearfix.css");
.warning{
	background-color: #f2dede;
}
.success{
	background-color: #dff0d8;
}
.profileMember{
	background-color: #ffffff;
	text-align: center;
	width: 100%;
	padding:15px 0;

	h1{
		width: 80%;
		margin: 15px auto;
		display: block;
	}
	.message{
		display:none;
		height: 40px;
		text-align: center;
		border-radius: 5px;
		width: 80%;
		margin: 15px auto;
		line-height: 40px;
	}

	.info-container{
		margin-bottom: 15px;
		width: 80%;
		margin: 0 auto;

		.user-status{
			text-align: left;
			margin-bottom: 15px;
			padding: 15px;

			input{
				background-color: red;
				margin: 15px 15px 0 0;
			}
		}
		
		.user-details{
			.img-container{
				margin-bottom: 15px;
				cursor:pointer;
				img{
					width: 100%;
					border-radius: 50%;
				}
			}
		}

		.social-container{
			margin: 15px 0;
			padding: 15px 0;
			a{
				text-decoration: none;
			}
		}
	}
	.edit-opcions{
		width: 80%;
		margin: 0 auto;
		.edit{
			
			background-color: #449d44;
			margin-bottom: 15px;
			height: 80px;
			font-size: 20px;

			/* this alines a text in the middle*/
			text-align: center;
			vertical-align: middle;
			line-height: 80px;

			cursor:pointer;
			color: #ffffff;
		}
		.add-social-networks{
			background-color: #337ab7;
			margin-bottom: 15px;
			height: 80px;
			font-size: 20px;

			/* this alines a text in the middle*/
			text-align: center;
			vertical-align: middle;
			line-height: 90px;

			cursor:pointer;
			color: #ffffff;
		}
		.assign-new-brand{
			text-decoration: none;
			background-color: #337ab7;
			margin-bottom: 15px;
			height: 80px;
			font-size: 20px;

			/* this alines a text in the middle*/
			text-align: center;
			vertical-align: middle;
			line-height: 90px;

			cursor:pointer;
			color: #ffffff;
			display: block;		
		}
	}
	.editModal{
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

		.personal-info-to-edit{
			display: none;
			text-align: left;
			background-color: #f9ecdf;
			margin-top: 50px;
			width: 100%;
		}
		.social-networks-to-edit{
			display: none;
			text-align: left;
			background-color: #f9ecdf;
			margin-top: 50px;
			width: 100%;
		}
		.avatar-to-edit{
			display: none;
			text-align: left;
			background-color: #f9ecdf;
			margin-top: 50px;
			width: 100%;
		}

		.form-container{
			background-color: #ffffff;
			width: 100%;	   	
			
			form{
				padding: 15px 0;
				width: 80%;
				margin: 0 auto;
			input{
				width: 100%;
				height: 30px;
				margin: 15px 0;
			}
				button{
					margin: 15px;
					height: 40px;
					width: 100px;
					border: none;
					font-size: 16px;
				}
				button.update{
					background-color: #337ab7;
					color:#ffffff;
				}

				button.cancel{
					background-color: #dddddd;
				}
			}
		}

		.social-networks-to-edit{
			.table-container{
				background-color: #ffffff;
				width: 100%;
				
				.notScocialNetworks{
					text-align: center;
					margin: 15px;
					padding: 15px;
				}
				table{
					padding: 15px 0;
					width: 95%;
					margin: 0 auto;

					thead {
						tr th {
							border-bottom: 2px solid #ddd;
							padding: 8px;
							line-height: 1.5;
							text-align: left;
						}
					}
					tbody {
						tr {
							td {
								height: 50px;
								margin-right:30px;
								.avatar{
									width: 50px;
								}
								input{
									border: 1px solid #dddddd;
									display: block;
									height: 40px;
									width: 100%;
								}
								button{
									border: none;
									display: block;
									margin: 0 auto;
									padding: 15px;
									color: #ffffff;
									font-size: 16px;
								}
								.btn-edit{
									background-color: #337ab7;
									border-color: #204d74;
									
								}
								.btn-delete{
									background-color: #D95350;
									border-color: #d43f3a;
								}							
							}
						}
					}
				}
				button.cancel{
					margin: 15px;
					height: 40px;
					width: 100px;
					border: none;
					font-size: 16px;
					background-color: #dddddd;	
				}
			}
		}
		.avatar-to-edit{
			.form-container{
				background-color: #ffffff;
				width: 100%;	
				
				form{
					padding: 15px 0;
					width: 80%;
					margin: 0 auto;
					input{
						height: 30px;
						width: 100%;
						background-color: #dddddd;
						border: none;
						padding: 15px 0;
					}
					button{
						// margin: 15px;
						height: 40px;
						width: 100px;
						border: none;
						font-size: 16px;
					}
					button.update{
						background-color: #337ab7;
						color:#ffffff;
					}
					button.cancel{
						background-color: #dddddd;
					}
				}
			}
		}
	}
	.new-social-network-modal{
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

		.social-network-to-add{
			display: none;
			text-align: left;
			background-color: #f9ecdf;
			margin-top: 25px;
			width: 100%;

			.social-network-container{
				background-color: #ffffff;
				width: 92%;
				padding: 15px;
				margin: 0 auto;

				div{
					
					margin-bottom: 15px;
					input{
						height: 30px;
						width: 100%;
						background-color: #dddddd;
						border: none;
						padding: 15px 0;						
						margin-bottom: 15px;	
					}
					select{
						width: 100%;
						margin-bottom: 15px;
						height: 50px;
						border: 5px solid #f2f2f2;
						border-radius: 8px;
						padding-left: 15px;
						background: url(../images/sistem/arrow-down.png) no-repeat right white;

						-moz-border-radius: 8px;
						-webkit-border-radius: 8px;

						/*remove arrows in select*/
						-webkit-appearance: none;
						-moz-appearance: none;
					}
					button{
						height: 100%;
						border: none;
						font-size: 16px;
						padding-bottom: 15px;
						padding-top: 10px;
						padding-left: 10px;
						padding-right: 10px;
					}
					button.add{
						background-color: #337ab7;
						color:#ffffff;
					}

					button.cancel{
						background-color: #dddddd;
					}
				}
				.message{
					display:none;
					height: 30px;
					text-align: center;
					border-radius: 5px;
					width: 100%;
					margin: 15px auto;
					line-height: 30px
				}
			}
		}
	}
}

/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media screen and (min-width: 480px) {
	.profileMember{	
		background-color: #ffffff;
		width: 80%;
		margin: 30px auto;

		.editModal{
			.personal-info-to-edit{
				width: 80%;
				margin: 50px auto;
				padding: 30px 0; 

				.form-container{
					width: 300px;   	
					margin: 0 auto;
					form{
						button{
							width: 80px;
						}
					}
				}
			}

			.social-networks-to-edit{
				width: 80%;
				margin: 50px auto;
				padding: 30px 0; 
				.table-container{
					width: 90%;
					margin: 0 auto
				}
			}

			.avatar-to-edit{
					width: 80%;
					margin: 50px auto;
					padding: 30px 0; 
					
				.form-container{
					width: 300px;   	
					margin: 0 auto;
					form{
						button{
							width: 80px;
						}
					}
				}
			}
		}

		.new-social-network-modal{
			.social-network-to-add{
				width: 80%;
				margin: 50px auto;
				padding: 30px 0;
				.social-network-container{
					width: 300px;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {

	.profileMember{	
		.info-container{
			width: 60%;
		}
		.message{
			width: 60%;
		}

		.info-container{
			width: 80%;
			margin: 15px auto;
			height: 450px;
			
			.user-details{
				float: right;
				width: 60%;
				height: 100%;
				// background-color: blue;
				.img-container{
					margin-bottom: 15px;
					cursor:pointer;
					max-height: 450px;

					img{
						width: 100%;
						max-height: 350px;
						max-width: 350px;
						border-radius: 50%;
						
					}
				}
			}

			.user-status{
				position: relative;
				float: left;
				height: 400px;
				width: 40%;
				margin-bottom: 0;
				padding: 0;

				div{
					width: 100%;
					max-width: 150px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
				input{
					margin: 15px 15px 0 0;
				}
			}

			.social-container{
				margin: 15px 0;
				padding: 15px 0;
				a{
					text-decoration: none;
				}
			}
		}


		.edit-opcions{
			width: 100%;

			.edit{
				display: inline-block;
				padding: 0 15px;
			}
			.add-social-networks{
				display: inline-block;
				padding: 0 15px;
			}
			.assign-new-brand{
				display: inline-block;
				padding: 0 15px;
			}
		}
		.editModal{
			.social-networks-to-edit{
				margin: 100px auto;
				.table-container{
					width: 600px;
				}
			}

			.avatar-to-edit{
				margin: 100px auto;
			}

			.personal-info-to-edit{
				margin: 100px auto;
			}
		}
		.new-social-network-modal{
			.social-network-to-add{
				margin: 100px auto;
			}
		}
	}
}

@media screen and (min-width: 1024px) {

	.profileMember{	

		.edit-opcions{
			width: 100%;
			.edit{
				display: inline-block;
				padding: 0 15px;
			}
			.add-social-networks{
				display: inline-block;
				padding: 0 15px;
			}
		}
	}
}





















