@charset "UTF-8";
@import url("clearfix.css");

.warning{
  background-color: #f2dede;
}

.success{
  background-color: #dff0d8;
}

.register{
	background-color: #ffffff;
 	width: 90%;
 	margin: 50px auto;
 	padding: 15px 0;
 	text-align: center;
 	font-family: 'Indie Flower';
	
	.avatar-selected{
		// background-color: red;
		display: none;
		margin: 10px;
		width: 100%;
		img{
			width: 200px;
		} 
	}
 	.message{
		display:none;
		height: 40px;
		text-align: center;
		border-radius: 5px;
		width: 80%;
		margin: 15px auto;
		line-height: 40px;
	}
	
	.personal-information{
		.avatar{
			margin: 0 auto;
			text-align: left;
			margin-top: 20px;
			width: 320px;
		}
	}
	h3{
		margin-top: 15px;
		padding: 15px;
	}
	.alert-danger{
		background-color: #f2dede;
		height: 30px;
		text-align: center;
		border-radius: 5px;
		width: 150px;
		margin: 0 auto 0;
		padding: 10px;
	}
 	input{
 		margin-top: 15px; 
 		height: 30px;
 		width: 300px;
 		background-color: #dddddd;
 		border: none;
 		padding: 10px;
 	}

 	.buttons{
 		// background-color: red;
 		margin: 15px 0; 
	 	button{
	 		width: 160px;
	 		height: 40px;
	 		font-size: 16px;
	 		border:none;
	 		 cursor: pointer;
	 	}
	 	button.submit{
			background-color: #337ab7;
			color:#ffffff;
	 	}
	 	button.cancel{
	 		background-color: #dddddd;
	 	}
	}
}

/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media screen and (min-width: 480px) {
	.register{
	 	width: 80%;
 	}
}

@media screen and (min-width: 768px) {
	.register{

		width: 700px;
		padding: 20px; 

		.personal-information{
			float: left;
		}
		.social-networks{
			float: right;
		}
	}
}