<div ng-controller="adminController as vm">

	<div class="big-counts">
		<h1>Big Accounts</h1>
		{{#if accounts}}
			{{#each accounts}}
				<div class="big-count">
					<div class="logo-big-count">
						<a href="/brands/{{this.id_big_accounts}}">
							<img src={{this.logo}} alt="">
						</a>
					</div>

					<div class="logo-name">
						<h3>{{this.name}}</h3>
					</div>
				</div>
			{{/each}}
		{{else}}
			<div>
				<h2>There are not accounts yet</h2>
			</div>
		{{/if}}
	</div>
	<div class="newBigAccount">
		<button>Add New</button>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="form-add-bigAccount">
				<h2>Add new big account</h2>
				<form enctype="multipart/form-data" ng-submit="submit()">
					<div>
						<div>
							<label for="">Name Account</label>
						</div>
						<div>
							<input  class="inputsForm" type="text" name="name" ng-model="account.name" placeholder="Name Account" required="" />
						</div>
					</div>
					<div>
						<div>
							<label for="">Logo Account</label>
						</div>
						<div>
							<input data-file class="inputsForm" type="file" id="logo" name="logo" ng-model="account.logo"placeholder="file" accept="application/x-zip-compressed,image/*" required=""/>
						</div>
					</div>
					<div>
						<button class="submit">Add</button>
						<button class="cancel">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>