<link rel="stylesheet" type="text/css" href="/assets/css/assignNewBrand.css">
<div class="assign-new-brand-container clearfix" ng-controller="assignNewBrandController">
	
	{{#if error}}
		<label for="" class="message warning">{{error}}</label>
	{{else}}	

		<div class="assign-new-brand">
			
			<h2> Assign New Brand </h2>
			<div>
				<label for="" class="message"></label>
				<div class="select-container">
				{{#if bigAccounts}}
					<nav>
						<div class="div-big-counts">
							<label for="">Big Accounts</label>
						   <div class="border-light-color">
								<select ng-change="showsCount(account)" ng-model="account">
									{{#each bigAccounts}}
										<option class="menu-nav" value="{{this.id_big_accounts}}">{{this.name}}</option>
									{{/each}}
								</select>
						   </div>
						</div>
						<br/>
						<div class="width-zero div-teams">
							<label for="">Brands</label>
							<div class='border-light-color'>
								<select  class="select-teams" ng-change="changeTeam(selected)" ng-model="selected">
									<option class="menu-nav" ng-repeat="brand in brands" value="{[{brand.id_brands}]}">{[{brand.name}]}</option>
								</select>
							
							</div>
						</div>
					</nav>
					<div>
						<div class="btns-container">
							<button class="assign-user">Assign User</button>
						</div>
					</div>
				{{else}}
					<div>
						<h2>There are not accounts yet</h2>
					</div>
				{{/if}}
				</div>
			</div>
		</div>
	{{/if}}

	<!-- Delete Member -->
	<div class="deleteMemberModal">
		<div class="messageDelete">
			<p><span>The user will be revomed for the brand(s) that he has been assigned</span></p>
			<p><span>Do you really want to change this user to another brand </span></p>
			<button ng-click="changeUserBrands()" class="deleteMember">Yes</button>
			<input ng-click="btnCancel()" type="button" value="No" class="cancel-delete">
		</div>
	</div>

</div>