<div class="brandsContainer" ng-controller="brandsController">
	<div class="title-container">

		{{#if bigAccount.active}}
			<input type="checkbox" class="bigAccountStatus" id="{{bigAccount.id_big_accounts}}" checked="" />
		{{else}}
			<input type="checkbox" class="bigAccountStatus" id="{{bigAccount.id_big_accounts}}"/>
		{{/if}}

		<h1>{{bigAccount.name}}</h1>
	</div>
	{{#if accounts}}
		<div class="new-brand-container">
			<button ng-click="modalEvent()">Create New Brand</button>
		</div>

		<div class="brands">
			
			{{#each accounts}}
				<div class="brand" id="brand" >
					<div class="logo-brand">
						<a href="/team/{{id_brands}}">
							<img src="{{this.logo}}" alt="">
						</a>
					</div>
					<h2>{{this.name}}</h2>
				</div>
			{{/each}}		
		</div>
	{{else}}
		<div class="notBrands">
			<h2>There are not brands yet</h2>
		</div>
	{{/if}}
		<div class="new-brand-container">
			<button ng-click="modalEvent()">Create New Brand</button>
		</div>


	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="form-add-brand">
				<h2>Add New Brand</h2>
				<form enctype="multipart/form-data" ng-submit="submit()">
					<div>
						<div>
							<label for="">Brand Name</label>
						</div>
						<div>
							<input  class="inputsForm" type="text" name="name" ng-model="brand.name" placeholder="Name Account" required="" />
						</div>
					</div>
					<div>
						<div>
							<label for="">Logo Brand</label>
						</div>
						<div>
							<input class="inputsForm" type="file" id="logo" name="logo" ng-model="brand.logo"placeholder="file" accept="application/x-zip-compressed,image/*" required=""/>
						</div>
					</div>
					<div>
						<div>
							<input type="hidden" id="id" name="id" ng-model="brand.id" value="{{bigAccount.id_big_accounts}}"required=""/>
						</div>
					</div>
					<div>
						<button class="submit">Add</button>
						<button class="cancel" ng-click="cancel()">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>