
<link rel="stylesheet" type="text/css" href="/assets/css/logout.css">
<div class="data-container" ng-controller="homeController as vm">
	<div class="inital-conatiner">
		<div class="wrapper-welcome">
			<div class="banner" style="display: none">
				<div id="main-container">
					<div class="welcome-logo_view">
						<img id="prodigious-logo-1" class="prodigious-logo_1 center" src="/assets/images/sistem/prodigious-logo.png" alt="">
						<img id="prodigious-logo-2" class="prodigious-logo_2 center hide" src="/assets/images/sistem/prodigious-logoFull.png" alt="">
					</div>
					<div class="welcome-text_view">
						<h2 id="welcome-text-1" class="welcome-text-1_properties hide">
						Welcome
						</h2>
						<h2 id="welcome-text-2" class="welcome-text-2_properties hide">
						Meet our team at
						</h2>
						<h2 id="welcome-text-3" class="welcome-text-3_properties hide">
						Please select an account:
						</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="select-container">
			{{#if accounts}}
				<nav>
					<div class="div-logo">
					    <a href="http://www.prodigious.com" alt="prodigious-logo" target="_blank"><img class="header-logo" src="/assets/images/sistem/logo.svg" alt="image/svg+xml"></a>
					</div>
					<div class="div-big-counts">
					   <div class="border-light-color">
							<select ng-change="showsCount(account)" ng-model="account">
								{{#each accounts}}
									<option class="menu-nav" value="{{this.id_big_accounts}}">{{this.name}}</option>
								{{/each}}
							</select>
					   </div>
					</div>
					<br/>
					<div class="width-zero div-teams">
						<div class='border-light-color'>
							<select  class="select-teams" ng-change="changeTeam(selected)" ng-model="selected">
								<option class="menu-nav" ng-repeat="brand in brands" value="{[{brand}]}">{[{brand.name}]}</option>
							</select>
						
						</div>
					</div>
				</nav>
			{{else}}
				<div>
					<h2>There are not accounts yet</h2>
				</div>
			{{/if}}
		</div>
	</div>
	<div class="gallery-container">
		<div class="gallery clearfix">
			
			<figure class="photo" ng-if="!!brandSelected">	
				<img class="isEmpty" ng-src="{[{brandSelected.logo}]}" alt="Hippo">
				<figcaption>{[{brandSelected.name}]}</figcaption>
			</figure>
			
			<figure class="photo" ng-repeat="member in members">
				

				<img class="isEmpty" ng-src="{[{member.avatar}]}" alt="Hippo">
				<figcaption>{[{member.name}]}</figcaption>
				<div class="social">

					<a ng-if="!!member.facebook" href="https://www.facebook.com/{[{member.facebook}]}" target="_blank">
						<span class="icon-facebook"></span>
					</a>
					<a ng-if="!!member.instagram" href="https://www.instagram.com/{[{member.instagram}]}" target="_blank">
						<span class="icon-instagram"></span>
					</a>

					<a ng-if="!!member.linkedin" href="https://www.linkedin.com/{[{member.linkedin}]}" target="_blank">
						<span class="icon-linkedIn"></span>
					</a>

					<a ng-if="!!member.twitter" href="https://www.twitter.com/{[{member.twitter}]}" target="_blank">
						<span class="icon-twitter"></span>
					</a>
					<a ng-if="!!member.skype" target="_blank">
						<span class="icon-skype">
							<span class="tooltiptext">{[{member.skype}]}</span>
						</span>
					</a>
				</div>
			</figure>
		</div>
	</div>
</div>