<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<div class="login">
	<h2>Login</h2>
	{{#if error}}
		<div class="alert alert-danger">{{error}}</div>
	{{/if}}

	<form action="/admin/login" method="post">
		<div>
			<div>
				<input type="text" name="username" placeholder="User number" />
			</div>
		</div>
		<div>
			<div>
				<input type="password" name="password" placeholder="Passwprd" />
			</div>
		</div>
		<div>
			<input class="submit" type="submit" value="Login"/>
		</div>
	</form>
</div>
