<link rel="stylesheet" type="text/css" href="/assets/css/profileMember.css">
<div class="profileMember" ng-controller="userController">
	
	<h1>Profile</h1>
	<label for="" class="message">asas</label>
	<div class="info-container clearfix">

		<div class="user-details">
			<div class="img-container">
				<img src="{{persona_info.0.avatar}}" alt="">
				<div class="user-name">
					<span>{{persona_info.0.name}}</span>
					<span>{{persona_info.0.lastname}}</span>
				</div>
			</div>
			<div class="social-container">
				
				{{#each socialNetworks}}
					<a href="" class="{{this.social_networks_id_social_networks}}" target="_blank">
						<span class="icon"><img src="{{this.image}}" alt=""></span>
					</a>
				{{/each}}
			</div>
		</div>

		<div class="user-status">
			<div>
			
				<h3>Role</h3>
				
				{{#each roles as |role|}}

					{{#if role.user}}
						<input type="radio" class="user-role" name="role" value="{{role.id_role}}" checked="" />{{role.name}}<br />
					{{else}}
						<input type="radio" class="user-role" name="role" value="{{role.id_role}}" />{{role.name}}<br />
					{{/if}}	
				{{/each}}
			</div>
		</div>

	</div>
	<div class="edit-opcions">
		<div class="edit edit-personal-info">
			Edit Personal Information
		</div>
		<div class="edit edit-social-networks">
			Edit Social Networks
		</div>

		<div class="add-social-networks">
			Add New Social Networks
		</div>
		{{!-- {{#if user.superAdmin}} --}}
			<a class="assign-new-brand" href="/assignBrand/{{persona_info.0.id_users}}">
				Assign New Brand
			</a>
		{{!-- {{/if}} --}}
	</div>

	<div class="editModal">
		<div class="personal-info-to-edit">
			<div class="form-container">
				<form ng-submit="update()">
					<div>
						<div>
							<label for="">User Name</label>
						</div>
						<div>
							<input class="inputsForm" type="text" name="name" placeholder="User Name" value="{{persona_info.0.name}}" required="" />
						</div>
					</div>
					<div>
						<div>
							<label for="">User Last Name</label>
						</div>
						<div>
							<input class="inputsForm" type="text" name="lastName" placeholder="User Last Name" value="{{persona_info.0.lastname}}" required="" />
						</div>
					</div>
					<div>
						<div>
							<input class="inputsForm" type="hidden" name="id_user" required="" value="{{persona_info.0.id_users}}" />
						</div>
					</div>
					<div>
						<button type="submit" class="update">Update</button>
						<button type="button" class="cancel" ng-click="cancel()">Cancel</button>
					</div>
				</form>
			</div>
		</div>
		<div class="social-networks-to-edit">
			<div class="table-container">
				<label for="" class="message"></label>
				{{#if socialNetworks}}
					<table class="table">
						<thead>
							<th>Social Network</th>
							<th>User Name</th>
							<th>Edit</th>
							<th>Delete</th>
						</thead>
						<tbody>
							{{#each socialNetworks}}
								<tr id="{{this.social_networks_id_social_networks}}">
									
									<td>
										<label for="">{{this.name}}</label>
									</td>

									<td>
										<input type="text" value="{{this.user_name}}">
									</td>
									
									<td>
										<button class="btn-edit" data-title="Edit" ng-click="editSocial({{this.id_users}},{{this.social_networks_id_social_networks}})">Edit</button>
									</td>

									<td>
										<button class="btn-delete" data-title="Edit" ng-click="deleteSocial({{this.id_users}},{{this.social_networks_id_social_networks}})">Detele</button>
									</td>
								</tr>
							{{/each}}	
						</tbody>
					</table>
					<div>
						<button type="button" class="cancel" ng-click="cancel()">Close</button>
					</div>
				{{else}}
					<div class="notScocialNetworks">
						<div>There are not Social Networks yet!</div>
						<button type="button" class="cancel" ng-click="cancel()">Close</button>
					</div>
				{{/if}}	
			</div>
		</div>
		<div class="avatar-to-edit">
			<div class="form-container">
				<form enctype="multipart/form-data" ng-submit="updateAvatar()">
					<div>
						<label for="">Avatar</label>
					</div>
					<div>
						<input class="inputsForm" type="file" id="avatar" name="avatar" placeholder="Avatar" accept="application/x-zip-compressed,image/*" required />
					</div>
					<div>
						<input type="hidden" id="id" name="id" value="{{persona_info.0.id_users}}"required=""/>
					</div>
					<div>
						<input type="hidden" id="number" name="number" value="{{persona_info.0.number}}"required=""/>
					</div>
					<div>
						<input type="hidden" id="exAvatar" name="exAvatar" value="{{persona_info.0.avatar}}"required=""/>
					</div>
					<div>
						<button type="submit" class="update">Update</button>
						<button type="button" class="cancel" ng-click="cancel()">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="new-social-network-modal">
		<div class="social-network-to-add">
			<div class="social-network-container">
				<label class="message"	for=""></label>
				<div>
					<div>
						<div>
							<label for="">User Name</label>
						</div>
						<input type="text" ng-model="userName" required="" placeholder="User Name" />
						</div>
					<div>
						<div>
							<label for="">Social Networks</label>
						</div>
						<select  class="select-social-networks" ng-model="socialSelected">
							<option ng-repeat="socialNework in socialNeworks" value="{[{socialNework.id_social_networks}]}">{[{socialNework.name}]}</option>
						</select>
					</div>
				</div>
				<div>
					<button type="button" ng-click="addSocialNetwork({{persona_info.0.id_users}})" class="add">Add Social Network</button>
					<button type="button" class="cancel" ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
