<link rel="stylesheet" type="text/css" href="/assets/css/register.css">
<div class="register" ng-controller="registerController">
	<div>
		<label for="" class="message"></label>
	</div>
	<h2>Register</h2>
	
	<div class="avatar-selected">
		<img id="image" src="" alt="">
	</div>
	<form enctype="multipart/form-data" ng-submit="register()">
	{{!-- <form action="/admin/login" method="post"> --}}
	
		<div class="clearfix">
			<div class="personal-information">
				<h3>Personal Information</h3>
				<div>
					<div>
						<input  class="inputsForm" type="text" name="name" ng-model="user.name" placeholder="User Name" required="" />
					</div>
				</div>
				<div>
					<div>
						<input  class="inputsForm" type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required="" />
					</div>
				</div>
				<div>
					<div>
						<input  class="inputsForm" type="text" name="number" ng-model="user.number" placeholder="Member Number" required="" />
					</div>
				</div>
				<div>

					<div class="avatar">
						<label for="">Avatar</label>
					</div>
					<div>
						<input class="inputsForm" type="file" id="avatar" name="avatar" ng-model="user.avatar" placeholder="Avatar" accept="application/x-zip-compressed,image/*"/>
					</div>
				</div>
			</div>

			<div class="social-networks">
				<h3>Social Networks</h3>
				<div>
					<div>
						<input  class="inputsForm" type="text" name="facebook" ng-model="user.facebook" placeholder="Facebook User Name"/>
					</div>
				</div>

				<div>
					<div>
						<input  class="inputsForm" type="text" name="twitter" ng-model="user.twitter" placeholder="Twitter User Name"/>
					</div>
				</div>

				<div>
					<div>
						<input  class="inputsForm" type="text" name="linkedin" ng-model="user.linkedin" placeholder="Linkedin User Name"/>
					</div>
				</div>

				<div>
					<div>
						<input  class="inputsForm" type="text" name="instagram" ng-model="user.instagram" placeholder="Instagram User Name"/>
					</div>
				</div>

				<div>
					<div>
						<input  class="inputsForm" type="text" name="skype" ng-model="user.skype" placeholder="Skype User Name"/>
					</div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<button class="submit">Resgister</button>
			{{!-- <button type="button" class="cancel" ng-click="cancel()">Cancel</button> --}}
		</div>
	</form>	
</div>