<div class="team" ng-controller="teamController as vm"> 
	<div class="title-container">
		
		{{#if brand.brandIsEnable}}
			<input type="checkbox" class="brandStatus" id="{{brand.id_brand}}" checked="" />
		{{else}}
			<input type="checkbox" class="brandStatus" id="{{brand.id_brand}}"/>
		{{/if}}
		
		<h2>{{brand.brandName}}</h2>
		<label for="" class="message " id="message"></label>
	</div>

	<div class="table-container">
		<div class="message-container">
			<label class="messaga"></label>
		</div>
		<form class="tableFrom">
		
		{{#if users}}
			<table class="table">
				<thead>
					<th><input type="checkbox" id="checkall" disabled="true"/></th>
					<th>Avatar</th>
					<th>Name</th>
					<th>Lastname</th>
					<th>Number</th>
					<th>Facebook</th>
					<th>Twitter</th>
					<th>Linkedin</th>
					<th>Instagram</th>
					<th>Skype</th>
					<th>Profile</th>
					<th>Delete</th>
				</thead>
				<tbody>
					{{#each users as |person|}}
						<tr id="{{this.id_users}}">
							<td>
								{{#if this.active}}
									<input type="checkbox" class="checkthis" ng-click="enable({{this.id_users}})" checked="" />
								{{else}}
									<input type="checkbox" class="checkthis" ng-click="enable({{this.id_users}})" />
								{{/if}}
							</td>
							<td>
								<img class="avatar" src="{{this.avatar}}">
							</td>
							<td>
								<label for="">{{this.name}}</label>
							</td>

							<td>
								<label for="">{{this.lastname}}</label>
							</td>

							<td>
								<label for="">{{this.number}}</label>
							</td>

							<td>
								{{#if this.facebook}}
									<label for="">
										<span id="">{{this.facebook.name}}</span>
										<input type="hidden" value="{{this.facebook.id}}" class="facebookId">
									</label>
								{{else}}
									<label for="">empty</label>
								{{/if}}
							</td>
							<td>
								{{#if this.twitter}}
									<label for="">
										<span id="">{{this.twitter.name}}</span>
										<input type="hidden" value="{{this.twitter.id}}" class="twitterId">
									</label>
								{{else}}
									<label for="">empty</label>
								{{/if}}
							</td>

							<td>
								{{#if this.linkedin}}
									<label for="">
										<span id="">{{this.linkedin.name}}</span>
										<input type="hidden" value="{{this.linkedin.id}}" class="linkedinId">
									</label>
								{{else}}
									<label for="">empty</label>
								{{/if}}
							</td>

							<td>
								{{#if this.instagram}}
									<label for="">
										<span id="">{{this.instagram.name}}</span>
										<input type="hidden" value="{{this.instagram.id}}" class="instagramId">
									</label>
								{{else}}
									<label for="">empty</label>
								{{/if}}
							</td>

							<td>
								{{#if this.skype}}
									<label for="">
										<span id="">{{this.skype.name}}</span>
										<input type="hidden" value="{{this.skype.id}}" class="skypeId">
									</label>
								{{else}}
									<label for="">empty</label>
								{{/if}}
							</td>

							<td>
								<a href="/user/{{this.id_users}}" class="edit btn-see-profile" data-title="Edit" ng-click="editMember({{person.id_users}})">
									Profile
								</a>
							</td>
							<td>
								<div class="delete delete-member" ng-click="deleteMember({{person.id_users}})">
									Delete
								</div>
							</td>
						</tr>
					{{/each}}	
				</tbody>
			</table>
		{{else}}
			<div class="notUsers">
				<h2>There are not users yet</h2>
			</div>
		{{/if}}	

			<div class="btn-form">
				<button type="button" ng-click="showModalAddMember()" class="btn-add-member">Add Member</button>	
			</div>
		</form>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="form-add-member">
				<h2>Add New Member</h2>
				<form enctype="multipart/form-data" ng-submit="submit()">
					<div class="clearfix">
						<div class="left">
							<div>
								<div>
									<input  class="inputsForm" type="text" name="name" ng-model="user.name" placeholder="User Name" required="" />
								</div>
							</div>
							<div>
								<div>
									<input  class="inputsForm" type="text" name="lastName" ng-model="user.lastName" placeholder="Last Name" required="" />
								</div>
							</div>
							<div>
								<div>
									<input  class="inputsForm" type="text" name="number" ng-model="user.number" placeholder="Member Number" required="" />
								</div>
							</div>
							<div>

								<div>
									<label for="">Avatar</label>
								</div>
								<div>
									<input class="inputsForm" type="file" id="avatar" name="avatar" ng-model="user.avatar" placeholder="Avatar" accept="application/x-zip-compressed,image/*"/>
								</div>
							</div>
						</div>

						<div class="right">
							<div>
								<div>
									<input  class="inputsForm" type="text" name="facebook" ng-model="user.facebook" placeholder="Facebook User Name"/>
								</div>
							</div>

							<div>
								<div>
									<input  class="inputsForm" type="text" name="twitter" ng-model="user.twitter" placeholder="Twitter User Name"/>
								</div>
							</div>

							<div>
								<div>
									<input  class="inputsForm" type="text" name="linkedin" ng-model="user.linkedin" placeholder="Linkedin User Name"/>
								</div>
							</div>

							<div>
								<div>
									<input  class="inputsForm" type="text" name="instagram" ng-model="user.instagram" placeholder="Instagram User Name"/>
								</div>
							</div>

							<div>
								<div>
									<input  class="inputsForm" type="text" name="skype" ng-model="user.skype" placeholder="Skype User Name"/>
								</div>
							</div>
						</div>
					</div>

					<div>
						<div>
							<input type="hidden" id="id" name="id" ng-model="team.id" value="{{brand.id_brand}}"required=""/>

						</div>
					</div>
					<div>
						<button class="submit">Add</button>
						<button class="cancel" ng-click="cancel()">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Delete Member -->
	<div class="deleteMemberModal">
		<div class="messageDelete">
			<span>Do yo really want to delete this member?</span>
			<button ng-click="btnDelete()" class="deleteMember">Yes</button>
			<input ng-click="btnCancel()" type="button" value="No" class="cancel-delete">
		</div>
	</div>
</div>
