<!-- Edit Modal -->
<div class="editMemberModel">
	<!-- Modal content -->
	<div class="modal-content">
		
		<div class="form-edit-member">
			<h2>Edit Member</h2>
			<form enctype="multipart/form-data" ng-submit="editMember()">
				<div class="clearfix">
					<div class="left">
						<div>
							<div>
								<input class="inputsForm" type="text" name="name" ng-model="member.name" placeholder="User Name" required="" />
							</div>
						</div>
						<div>
							<div>
								<input  class="inputsForm" type="text" name="lastName" ng-model="member.lastName" placeholder="Last Name" required="" />
							</div>
						</div>
						<div>
							<div>
								<input  class="inputsForm" type="text" name="number" ng-model="member.number" placeholder="Member Number" required="" />
							</div>
						</div>
						<div>

							<div>
								<label for="">Avatar</label>
							</div>
							<div>
								<input class="inputsForm" type="file" id="avatar" name="avatar" ng-model="user.avatar" placeholder="Avatar" accept="application/x-zip-compressed,image/*"/>
							</div>
						</div>
					</div>

					<div class="right">
						<div>
							<div>
								<input  class="inputsForm" type="text" name="facebook" ng-model="user.facebook" placeholder="Facebook User Name"/>
							</div>
						</div>

						<div>
							<div>
								<input  class="inputsForm" type="text" name="twitter" ng-model="user.twitter" placeholder="Twitter User Name"/>
							</div>
						</div>

						<div>
							<div>
								<input  class="inputsForm" type="text" name="linkedin" ng-model="user.linkedin" placeholder="Linkedin User Name"/>
							</div>
						</div>

						<div>
							<div>
								<input  class="inputsForm" type="text" name="instagram" ng-model="user.instagram" placeholder="Instagram User Name"/>
							</div>
						</div>

						<div>
							<div>
								<input  class="inputsForm" type="text" name="skype" ng-model="user.skype" placeholder="Skype User Name"/>
							</div>
						</div>
					</div>
				</div>

				<div>
					<div>
						<input type="hidden" id="id" name="id" ng-model="team.id" value="{{users.id_brand}}"required=""/>
					</div>
				</div>
				<div>
					<button class="submit">Add</button>
					<button class="cancel" ng-click="cancel()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>