<!DOCTYPE html>
<html>
	<head>
		{{>head}}
	</head>
	<body ng-app="myapp">
		{{#if user}}
			<div class="logout">
				<a href="/logout">Logout</a>
			</div>
		{{else}}
			<div class="logout">
				<a href="/admin/login">Login</a>
			</div>
		{{/if}}

		{{{body}}}
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
	<script type="text/javascript" src="../assets/js/angular.min.js"></script>
	<script type="text/javascript" src="../assets/js/main.js"></script>

</html>